#!/bin/sh

# WIFI.CFG - HOW TO USE:
#
# This file provides an optional way to store up to 5 different WiFi networks
# on your A30. Type the SSID and password of your desired networks, in order of
# priority in which you'd like your device to connect to them if multiple are
# available at once, inside the quotation marks in each pair below, starting
# with ID_1 and PW_1.
#
# On your next boot, the A30 will interpret this file and convert it into an
# actual WiFi configuration. Then, this file will delete itself for security
# reasons. Because you must enter your passwords in clear text in this file, it
# is imperative that you boot your A30 immediately after filling it out. The 
# spruce team takes NO responsibility for you leaving your SD card lying around
# with your network passwords on it. Use it or lose it!
#
# You may safely ignore or delete this file if you wish to continue using the
# built-in WiFi menu in the MainUI on your device - however, at the moment,
# only one network may be stored at a time using that method. Please note as 
# well that setting the WiFi in the MainUI will overwrite any settings you have
# previously configured using a wifi.cfg.

ID_1=""
PW_1=""

ID_2=""
PW_2=""

ID_3=""
PW_3=""

ID_4=""
PW_4=""

ID_5=""
PW_5=""