#!/bin/sh

# Need to run this manually via ssh (can add )
#scp spruceOS\spruce\rg34xxsp\loadapp.sh root@<ip>:/mnt/vendor/ctrl/loadapp.sh

# NOTE: many of these values are unverified.

  #################################
#####   IDENTITY AND FIRMWARE   #####
  #################################

export BRAND="Anbernic"
export FW_FILE="various"    # different for each of og/mini/flip
export TARGET_FW_VERSION="UNKNOWN" # this is the Mini Flip specifically
export REQ_MB_TO_UPDATE_FW=48
export SYSTEM_JSON="/mnt/SDCARD/Saves/anbernic-rg34xxsp-system.json"
export SD_DEV="/dev/mmcblk1p1"
export SD_MOUNTPOINT="/mnt/SDCARD"
export PLATFORM_ARCHITECTURE="aarch64"


  ###################################
#####   DISPLAY CHARACTERISTICS   #####
  ###################################

export DISPLAY_TEXT_ELF_WIDTH="not applicable"
export DISPLAY_ROTATION="0"

  ########################
#####   CPU SETTINGS   #####
  ########################

# root@ANBERNIC:/sys/devices/system/cpu/cpu0/cpufreq# cat scaling_available_frequencies
# 480000 720000 936000 1008000 1104000 1200000 1320000 1416000 1512000
export DEVICE_MIN_CORES_ONLINE=0123
export CPU_SMART_CORES_ONLINE=0123
export DEVICE_MAX_CORES_ONLINE=0123
export DEVICE_POWERSAVE_LOW_FREQ=480000
export DEVICE_POWERSAVE_HIGH_FREQ=1512000
export CPU_SMART_MIN_FREQ=480000
export CPU_PERF_MAX_FREQ=1512000
export CPU_OVERCLOCK_MAX_FREQ=1512000
export CONSERVATIVE_POLICY_DIR="/tmp"

  ##################################################
#####   OTHER HARDWARE FEATURES AND INTERFACES   #####
  ##################################################

export BATTERY="/sys/class/power_supply/axp2202-battery"
export LED_PATH=""
export DEVICE_BRIGHTNESS_PATH=""
export RUMBLE_GPIO=""    #todo - add this or mark not applicable
export WPA_SUPPLICANT_FILE="/mnt/SDCARD/Saves/spruce/wpa_supplicant.conf"

  ###############################################
#####   SOFTWARE CHARACTERISTICS AND QUIRKS   #####
  ###############################################

export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/mnt/vendor/bin:/snap/bin:/mnt/SDCARD/spruce/bin64"
export LD_LIBRARY_PATH="/usr/lib32:/usr/lib:/mnt/vendor/lib:/mnt/SDCARD/spruce/flip/lib"
export SPRUCE_ETC_DIR="/mnt/SDCARD/trimui/etc"
export DEVICE_PYTHON3_PATH=/usr/bin/python3
export DEVICE_SUPPORTS_PORTMASTER="false"
export DEVICE_CAN_USE_EXTERNAL_CONTROLLER="false"
export DEVICE_USES_64_BIT_RA="false"

  ######################################
#####   KEY CODES AND INPUT EVENTS   #####
  ######################################

export EVENT_PATH_SEND_TO_DRASTIC="/dev/input/event1"
export EVENT_PATH_SEND_TO_RA_AND_PPSSPP="/dev/input/event1"
export EVENT_PATH_READ_INPUTS_SPRUCE="/dev/input/event1"
export EVENT_PATH_POWER="" # TODO


export B_POWER="TODO_MISSING"
    
export B_LEFT="3 16 -1"  # negative for left
export B_RIGHT="3 16 1"  # positive for right
export B_UP="3 17 -1"    # negative for up
export B_DOWN="3 17 1"   # positive for down

export B_A="1 304"
export B_B="1 305"
export B_X="1 307"
export B_Y="1 306"

export B_L1="1 308"
export B_L2="1 314"
export B_R1="1 309"
export B_R2="1 315" 

export B_L3="1 313"
export B_R3="316"

export B_START="1 311"
export B_START_2="1 311" 
export B_SELECT="1 310"
export B_SELECT_2="1 310"

export B_VOLUP="1 115" # has actual key codes like the buttons
export B_VOLUP_2="1 115" # only registers 0 on release, no 1.
export B_VOLDOWN="1 114" # has actual key codes like the buttons
export B_VOLDOWN_2="1 114" # only registers 0 on release, no 1.
export B_MENU="1 312" #both 312 and 354 are being fired off?
export B_HOME="DOESNT_EXIST"

export STICK_LEFT="3 2 -4096" # negative for left
export STICK_RIGHT="3 2 4096" # positive for right
export STICK_UP="3 3 -4096"   # negative for up
export STICK_DOWN="3 3 4096"  # positive for down

export STICK_LEFT_2="3 4 -4096" # negative for left
export STICK_RIGHT_2="3 4 4096" # positive for right
export STICK_UP_2="3 5 -4096"   # negative for up
export STICK_DOWN_2="3 5 4096"  # positive for down

  #########################################
#####   VOLUME AND BRIGHTNESS MAPPING   #####
  #########################################

export SYSTEM_VOLUME_0="0"
export SYSTEM_VOLUME_1="12"
export SYSTEM_VOLUME_2="25"
export SYSTEM_VOLUME_3="38"
export SYSTEM_VOLUME_4="51"
export SYSTEM_VOLUME_5="63"
export SYSTEM_VOLUME_6="78"
export SYSTEM_VOLUME_7="89"
export SYSTEM_VOLUME_8="102"
export SYSTEM_VOLUME_9="114"
export SYSTEM_VOLUME_10="127"
export SYSTEM_VOLUME_11="140"
export SYSTEM_VOLUME_12="153"
export SYSTEM_VOLUME_13="165"
export SYSTEM_VOLUME_14="178"
export SYSTEM_VOLUME_15="191"
export SYSTEM_VOLUME_16="204"
export SYSTEM_VOLUME_17="216"
export SYSTEM_VOLUME_18="229"
export SYSTEM_VOLUME_19="242"
export SYSTEM_VOLUME_20="255"

export SYSTEM_BRIGHTNESS_0="2"
export SYSTEM_BRIGHTNESS_1="8"
export SYSTEM_BRIGHTNESS_2="18"
export SYSTEM_BRIGHTNESS_3="32"
export SYSTEM_BRIGHTNESS_4="50"
export SYSTEM_BRIGHTNESS_5="72"
export SYSTEM_BRIGHTNESS_6="98"
export SYSTEM_BRIGHTNESS_7="128"
export SYSTEM_BRIGHTNESS_8="162"
export SYSTEM_BRIGHTNESS_9="200"
export SYSTEM_BRIGHTNESS_10="255"


  #########################################
#####   RetroArch   #####
  #########################################
RA_CFG_LOCATION="/mnt/SDCARD/RetroArch/.retroarch/retroarch.cfg"
RA_HOTKEY_LINE="input_enable_hotkey_btn"
RA_SELECT_VAL="2"
RA_START_VAL="3"
RA_HOME_VAL="14"
