#!/bin/sh

. /mnt/SDCARD/spruce/scripts/platform/AnbernicXXCommon.cfg
 
  ###################################
#####   DISPLAY CHARACTERISTICS   #####
  ###################################

export DISPLAY_WIDTH="720"
export DISPLAY_HEIGHT="720"
export DISPLAY_ROTATION="0"
export DISPLAY_ASPECT_RATIO="1:1"
