#!/bin/sh

# ensures only 2 cpu cores are online for optimal efficiency
echo 0 > /sys/devices/system/cpu/cpu3/online 
echo 0 > /sys/devices/system/cpu/cpu2/online 

# sets cpu speed
/mnt/SDCARD/App/utils/utils performance 2 1344 384 1080 0

# defines some constants used in the launch
echo $0 $*
RA_DIR=/mnt/SDCARD/RetroArch
EMU_DIR=/mnt/SDCARD/Emu/GBA

# launches the game using the chosen retroarch variation and core
cd "$RA_DIR"
HOME=$RA_DIR/ $RA_DIR/ra32.miyoo -v -L $RA_DIR/.retroarch/cores/mgba_libretro.so "$1"
